.navbar-nav{
  margin-left: 70%;
}

.search_box{
  margin:auto;
  margin-left: 30%;

}

label{
  width: 12%;
}

.table{
  width:80%;
  margin:auto;
  margin-top:3%;
  border: solid 1.5px #d4d4d4;
}
