<!DOCTYPE html>
<html xmlns:th lang="ja">
<head>
<meta charset="UTF-8">
<title>thread</title>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="js/thread.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="css/thread.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>

<body>
  <!-- header -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <ul class="navbar-nav mr-auto">
    	<li><a class="navbar-brand" href="#"><p class="mb-0" id="logo">PEch</p></a></li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/archive"><button type="button" class="btn btn-danger">トップ</button></a>
      </li>
      &nbsp;&nbsp;
      <li class="nav-item">
        <button type="button" id="open_create_threads" class="btn btn-danger"><i class="fas fa-plus"></i>スレ作成</button>
      </li>
      &nbsp;&nbsp;
      <li class="nav-item">
      
      <!-- ログアウト機能追加　馬場 -->
        <form action="logout">
			<input type="submit" class="btn btn-danger" value="ログアウト"/>
		</form>
      </li>
      &nbsp;&nbsp;
      <li class="nav-item">
       	<font color="yellow"><a th:text="${user_name}">ゲスト</a></font>
       	<a><font color="#FFFFFF">さん</font></a>
      </li>
    </ul>
  </nav>

  <!-- main -->
  <div class="container-fluid mr-auto" style="margin-top:120px">

  <!-- ress -->
    <ul class="list-group list-group-flush offset-lg-1 col-lg-7 ">
      <li class="list-group-item">
        １：前田龍也<br>
	　Javaのプロやけど質問あるやつおる？
      </li>

      <li class="list-group-item">
        ２：大島優希<br>
        　おらんやろなぁ･･･
      </li>

      <li class="list-group-item">
        ３：キング<br>
        　ワイやぞ
      </li>

      <li class="list-group-item">
        ４：大島優希<br>
	　>>３　おったわ
      </li>
      
      <li class="list-group-item">
        ５：イキング<br>
        　キングかなーやっぱりｗｗ自分は思わないんだけど周りにキングってよく言われるｗｗｗこないだＫＭＫＮＧに課題出された時も気がついたら意識無くてプログラムが完成してたしなｗｗｗちなみに彼女は神絵師(聞いてないｗ)
      </li>
      <li class="list-group-item">
        １：前田龍也<br>
  　Javaのプロやけど質問あるやつおる？
      </li>

      <li class="list-group-item">
        ２：大島優希<br>
        　おらんやろなぁ･･･
      </li>

      <li class="list-group-item">
        ３：キング<br>
        　ワイやぞ
      </li>

      <li class="list-group-item">
        ４：大島優希<br>
  　>>３　おったわ
      </li>
      
      <li class="list-group-item">
        ５：イキング<br>
        　キングかなーやっぱりｗｗ自分は思わないんだけど周りにキングってよく言われるｗｗｗこないだＫＭＫＮＧに課題出された時も気がついたら意識無くてプログラムが完成してたしなｗｗｗちなみに彼女は神絵師(聞いてないｗ)
      </li>
    </ul>
    <br>
  </div>
  
  <div class="cal mr-auto position-fixed offset-lg-9 col-lg-2" style="top: 15%;">
  </div>
  
<!-- inputArea -->
  <div class="mr-auto position-fixed offset-lg-9 col-lg-2" style="top: 60%;">
  	  <label for="msg">本文：</label>
	  <textarea id="msg" rows="3" cols="30"></textarea>
	　　
	 	<label class="form-check-label">
	   		<input type="checkbox" class="form-check-input" value="">名前公開　　　<button id="send_message">送信</button>
	   	</label>
  </div>

  <div class="create_threads_mask"></div>
    <!-- create threads -->
    <div class="card border-dark offset-lg-3 col-lg-6 p-0 create_threads text-center">
        <div class="card-header bg-dark text-white">
          スレ作成
        </div>
          <div class="card-body">
            <form action="/archive">

              <div class="form-group">
                <label>カテゴリ&emsp;：</label>&nbsp;
                <select name="category">
 					<!-- DB内のcategory表から取得 -->
                </select>
              </div>
              <!-- keyword -->
              <div id="add_category" class="form-group">
                <label>新規カテゴリ：</label>&nbsp;
                <input type="text">
              </div>

              <div class="form-group">
                <input type="text" class="form-control" id="" placeholder="スレッド名">
              </div>
              <div class="form-group">
                <textarea class="form-control" id="message" rows="5" placeholder="本文"></textarea>
              </div>
              <button type="submit" class="btn btn-danger">作成</button>
            </form>
          </div>
        </div>

</body>
</html>
