.create_threads{
	display: none;
	position: fixed;
	top: 20%;
	z-index:100000;
}

.create_threads_mask{
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.60;
	z-index:99999;
}

label {
	vertical-align: top;
}

#inputArea{
	background-color: rgba(154, 154, 154, 0.8);
}